<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">

        <!-- Brand -->
        @await Html.PartialAsync("UITemplates/Inspinia/_Headbar_Brand")

        <!-- Search -->
        @await Html.PartialAsync("UITemplates/Inspinia/_Headbar_Search")
    </div>

    <!-- Session -->
    @await Html.PartialAsync("UITemplates/Inspinia/_Headbar_Session")
</nav>