<!-- Minimalize Button -->
<div class="navbar-header-btn pull-left">
    <a class="navbar-minimalize minimalize-styl-2 minimalize-button" href="#">
        <span class=" text-muted">
            <i class="fa fa-bars"></i>
        </span>
    </a>
</div>

<!-- Logo -->
<div class="navbar-header-logo pull-left">
    <a asp-action="Index" asp-controller="Home">
        <img class="logo-img" src="~/logo.png" alt="logo">
    </a>
</div>