<ul class="nav navbar-top-links navbar-right">
    <li>
        <a asp-action="Login" asp-controller="Account" asp-area="">
            <i class="fa fa-sign-out"></i> Log out
        </a>
    </li>
</ul>