<div class="col-lg-9">
    <h2>Dashboard</h2>
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Home</a>
        </li>
        <li class="active">
            <strong>Dashboard</strong>
        </li>
    </ol>
</div>