<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        @await Html.PartialAsync("UITemplates/Inspinia/_Sidebar_ProfileCard")
        @await Html.PartialAsync("UITemplates/Inspinia/_Sidebar_Menu")
    </div>
</nav>