
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"]</title>

    <link href="~/favicon.png" rel="shortcut icon" type="image/png" />
    <link href="~/Inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Inspinia/css/animate.css" rel="stylesheet">
    <link href="~/Inspinia/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">
                    <img src="~/logo.png" alt="logo" width="192"/>
                </h1>

            </div>
            <h3>Welcome to IN+</h3>
            <p>
                Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
            </p>
            <p>Login in. To see it in action.</p>
            <form class="m-t" role="form" asp-action="Index" asp-controller="Home" asp-area="">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <a asp-action="ForgotPassword" asp-controller="Account" asp-area="">
                    <small>Forgot password?</small>
                </a>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" asp-action="Register" asp-controller="Account" asp-area="">
                    Create an account
                </a>
            </form>
            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/Inspinia/js/jquery-2.1.1.js"></script>
    <script src="~/Inspinia/js/bootstrap.min.js"></script>

</body>

</html>
