<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd">
  <extensions>
    <add assembly="NLog.Targets.Syslog"/>
  </extensions>
  <variable name="enterpriseId" value="12345"/>
  <variable name="sequenceId" value="1"/>
  <targets>

    <target xsi:type="sl:Syslog" name="syslog5424-tgt">
      <sl:layout xsi:type="SimpleLayout" text="${message}${exception:format=ToString,StackTrace}" />
      <sl:enforcement>
        <sl:splitOnNewLine>false</sl:splitOnNewLine>
        <sl:transliterate>false</sl:transliterate>
        <sl:replaceInvalidCharacters>false</sl:replaceInvalidCharacters>
        <sl:truncateFieldsToMaxLength>true</sl:truncateFieldsToMaxLength>
        <sl:truncateMessageTo>1024</sl:truncateMessageTo>
      </sl:enforcement>
      <sl:messageCreation>
        <sl:facility>Local4</sl:facility>
        <sl:rfc>Rfc5424</sl:rfc>
        <sl:rfc5424 hostname="${machinename}" appName="${logger}" procId="${processid}" msgId="testMsgId">
          <sl:structuredData>
            <!--
                        <sl:fromEventProperties xsi:type="SimpleLayout" text="${event-properties:item=structuredData}" />
                        -->
            <sl:sdElement sdId="thread@${enterpriseId}">
              <sl:sdParam name="id" value="${threadid}" />
              <sl:sdParam name="myParam" value="myValue" />
            </sl:sdElement>
            <sl:sdElement sdId="timeQuality">
              <sl:sdParam name="tzKnown" value="1" />
              <sl:sdParam name="isSynced" value="1" />
              <sl:sdParam name="syncAccuracy" value="60000000" />
            </sl:sdElement>
            <sl:sdElement sdId="origin">
              <sl:sdParam name="ip" value="10.10.10.1" />
              <sl:sdParam name="ip" value="192.0.2.1" />
              <sl:sdParam name="enterpriseId" value="${enterpriseId}" />
              <sl:sdParam name="software" value="MyAmazingSw" />
              <sl:sdParam name="swVersion" value="3.5" />
            </sl:sdElement>
            <sl:sdElement sdId="meta">
              <sl:sdParam name="sequenceId" value="${sequenceId}" />
              <sl:sdParam name="sysUpTime" value="30200" />
              <sl:sdParam name="language" value="en-US" />
            </sl:sdElement>
          </sl:structuredData>
          <sl:disableBom>false</sl:disableBom>
        </sl:rfc5424>
      </sl:messageCreation>
      <sl:messageSend>
        <sl:protocol>UDP</sl:protocol>
        <sl:udp>
          <sl:server>127.0.0.1</sl:server>
          <sl:port>12201</sl:port>
        </sl:udp>
      </sl:messageSend>
    </target>

  </targets>
  <rules>

    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="syslog5424-tgt" />
  </rules>
</nlog>